/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    color: blue;
}

/* CARD */
.product-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.4s;
    color: green;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
}

.price {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0d0d0d;
    color: yellow;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #222;
}

